#Go specific
pkg/
*.exe
go.mongodb/
golang/
golang.org/
google.golang.org/

#.Net Core specific
appsettings*.json
bin/
obj/

#VSCode specific
launch.json
/dotnetcore/src/postprocessing/postprocessing.sln
/dotnetcore/src/postprocessing/postprocessing.csproj.user
/dotnetcore/src/postprocessing/.vs/postprocessing/v15
/go/src/jobregistration-app/.vs/jobregistration-app/v15
/go/src/jobregistration-app/.vs
